<div id="contact" class="row d-flex justify-content-center bg-white p-5">
  <div class="col-12">
    <div class="row">
      <div class="col">
        <h2>Contact</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ex nulla, egestas ut massa elementum, mattis commodo nunc. Praesent pretium, velit non accumsan cursus, lorem odio venenatis metus, non venenatis justo urna eget sem.</p>
      </div>  
    </div>

    <form class="d-flex flex-column">
      <div class="row mb-3">
        <!--Etiqueta de campo-->
        <label for="email" class="col-sm-4 col-form-label fw-bold">Your Email</label>
        <!--DIV y campo de form-->
        <div class="col-sm-8">
          <input type="text" class="form-control" id="email">
        </div>
      </div>
    
      <div class="row mb-3">
        <!--Etiqueta de campo-->
        <label for="message" class="col-sm-4 col-form-label fw-bold">Your Message</label>
        <!--DIV y campo de form-->
        <div class="col-sm-8">
          <textarea type="text" class="form-control" id="message">
          </textarea>
        </div>
      </div>
    
    <!--BOTON-->
      <div class="d-flex justify-content-sm-end mb-3">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
  </div>
</div>  