<!-- your html code here -->
<nav class="navbar navbar-expand bg-black ">
    

      <a class="navbar-brand text-secondary px-3" href="#">Star Boodstrap</a>
      
         
          <a class="nav-link text-secondary" href="#">About</a>
          <a class="nav-link text-secondary" href="./templates/services.html">Services</a>
          <a class="nav-link text-secondary" href="./templates/portfolio.html">Portfoli</a>
          <a class="nav-link text-secondary" href="./templates/contact.html">Contact</a>
     
      
 
  </nav>

