<!-- your html code here -->

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark row">
    <div class="container-fluid">
        <a class="navbar-brand text-secondary px-3" href="#">Star Boodstrap</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-secondary" href="#first_heading">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-secondary" href="#services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-secondary" href="#portfolio">Portfolio</a>
                </li>
                <li>
                    <a class="nav-link text-secondary" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>