<!-- your html code here -->
<div class="row bg-white">
    <div class="col-12 p-5">
        <h1>Portfolio</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Et labore assumenda non vel tempore vitae aut
            reiciendis possimus dolor blanditiis ipsam alias optio excepturi quos consequuntur quibusdam, voluptate quae
            aliquid?</p>
    </div>
</div>
<div class="row bg-white">
    <div class="col-4 p-5">
        <img src="./assets/img/big-project-image.png" alt="Imagen" class="img-thumbnail">
        <h2 class="text-primary py-3">Project Name</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi minus inventore sequi eaque aspernatur aliquam id quaerat debitis enim labore dignissimos ipsa praesentium fugit recusandae, molestiae sed quibusdam beatae qui?</p>
    </div>
    <div class="col-4 p-5">
        <img src="./assets/img/big-project-image.png" alt="Imagen" class="img-thumbnail">
        <h2 class="text-primary py-3">Project Name</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi minus inventore sequi eaque aspernatur aliquam id quaerat debitis enim labore dignissimos ipsa praesentium fugit recusandae, molestiae sed quibusdam beatae qui? </p>
    </div>
    <div class="col-4 p-5">
        <img src="./assets/img/big-project-image.png" alt="Imagen" class="img-thumbnail" >
        <h2 class="text-primary py-3">Project Name</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi minus inventore sequi eaque aspernatur aliquam id quaerat debitis enim labore dignissimos ipsa praesentium fugit recusandae, molestiae sed quibusdam beatae qui? </p>
    </div>
</div>
</div>